
<%- include('partials/head') %>

<%- include('partials/header') %>

    <h1>Listado de Products de la Empresa <%=company.name %></h1>
    <br>
    <p>
        <a class="botonAgregar" href="/companies/<%=company.id %>/products/register">Agregar un productos</a>
        <a class="botonVolver" href="/">Inicio</a>

    </p>
    <br>
    <ul>
        <% for( let i = 0; i < products.length; i++ ) { %>
        <li>
            <a href="/companies/<%=company.id %>/products/detail/<%=products[i].id%>"><%= products[i].name %></a>
        </li>
        <% } %>

    </ul>
</body>

</html>