<%- include('partials/head') %>

<%- include('partials/header') %>


    <h1>Detalle del producto de la empresa <%= product.companies.name %></h1>
    <br>
    <p>
        
        <a class="botonVolver" href="/">Inicio</a>

    </p>
    <br>
    <div>
        <img style='width:100px'src="/images/products/<%= product.image %>">
    </div>
    <div>
    <label>Nombre: </label>
    <label><%=product.name %></label><br>
    <label>Descripción: </label>
    <label><%=product.description %></label><br>
    <label>Categoria: </label>
    <label><%=product.category %></label><br>
    <label>Precio: </label>
    <label><%=product.price %></label><br>
    <label>Puntos para canje: </label>
    <label><%=product.points %></label><br>
    
        <a href="/companies/<%= product.companies.id %>/products/edit/<%=product.id %>">
            <button>Editar</button>
        </a>
    </div>   
    <form action="/companies/<%= product.companies.id %>/products/delete/<%=product.id %>" method="post"  >
        <button type="submit">Eliminar</button>
    </form>   
        
    </body>

</html>